# Data
data/

# Model files
*.pth
*.pt
*.onnx

# Virtual environments
.venv/
.venv_old_py312/

# Python cache
__pycache__/
*.pyc

# Outputs
outputs/
**/outputs/

# IDE
.vscode/
*.code-workspace

# OS
Thumbs.db
.DS_Store