# Rename this file to .env and put your real Hugging Face token here!
# Do NOT commit your actual .env file to GitHub.
# 
# To get a token:
# 1. Sign up / Log in to https://huggingface.co/
# 2. Go to https://huggingface.co/settings/tokens
# 3. Create a new token (Read access is fine) and paste it below.
# 
# IMPORTANT: For FLUX.1-dev, you MUST also visit https://huggingface.co/black-forest-labs/FLUX.1-dev
# and click "Agree to share contact info" to accept their license first!

HF_TOKEN="YOUR_HUGGING_FACE_TOKEN_HERE"
